@media screen and (max-width: 700px) {
  .website-title {
    width: auto;
    margin-bottom: 5px;
  }

  .columns {
    margin-top: 5px;
    margin: auto;
    flex-direction: column;
    width: 80%;

    .task-column {
      margin: 20px auto;
    }
  }
}
